{% extends "base.html" %}
{% load i18n %}  
{% block content %}  
    {% block messages_navigation %}
        <ul class="subnavilist">
            <li><a href="{% url messages_inbox %} ">{% trans "Inbox" %}</a></li>
            <li><a href="{% url messages_outbox %} ">{% trans "Sent Messages" %}</a></li>
            <li><a href="{% url messages_compose %} ">{% trans "New Message" %}</a></li>
            <li><a href="{% url messages_trash %} ">{% trans "Trash" %}</a></li>
        </ul>
    {% endblock %}
    {% block messages_content %}
    {% endblock %}
{% endblock %}
