{% extends "django_messages/base.html" %} 
{% load i18n thumbnail inbox %} 
{% block messages_content %}
    <h1>{% trans "View Message" %}</h1>
    <dl class="message-headers">
        <dt>{% trans "Subject" %}</dt>
        <dd><strong>{{ message.subject }}</strong></dd>
        <dt>{% trans "Sender" %}</dt>
        <dd>
            {% if message.sender.get_profile.primary_photo %}
                {% thumbnail message.sender.get_profile.primary_photo.photo '400x300' crop='center' as primary %}
                  <img src="{{ primary.url }}" alt="Main Photo" />
                {% endthumbnail %}
            {% endif %}
            {{ message.sender }}
        </dd>
        <dt>{% trans "Date" %} </dt>
        <dd>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</dd>
        <dt>{% trans "Recipient" %}</dt>
        <dd>{{ message.recipient }}</dd>
    </dl>

    {% if message.language_translated %}
        <div class="message" id="message_translation">
            <p class="translation_notification">Automatically Translated from {{ message.language }} to {{ message.language_translated }}</p>
            {% render_message message translated %}
        </div>
        <div class="message" id="message">
            <p class="translation_notification original">Original Message (in {{ message.language }})</p>
            {% render_message message %}
        </div>
    {% else %}
        <div class="message" id="message">
            {% render_message message %}
        </div>
    {% endif %}

    {% ifequal message.recipient.pk user.pk %}
    <a href="{% url messages_reply message.id %}">{% trans "Reply" %}</a>
    {% endifequal %}
    <a href="{% url messages_delete message.id %}">{% trans "Delete" %}</a>
{% endblock %}
